extends widerlayout1
block login

     div.page-header
         div.container-fluid
            div.pull-right
               a.btn.btn-primary(href='/geet/listings/') 
                  i.fa.fa-plus 
                a.btn.btn-danger(ng-click='delete')
                    i.fa.fa-trash-o
                  
           
            div.clearfix
      div.ng-view    





