extends ../widerlayout

block login
 
   div.page-header(ng-app="app" ng-controller="listController" )
     
             
     div.container-fluid
          div.test
            input(type='text' value='#{song.anagram}')